/********************************************* ESTILOS DEL FOOTER *********************************************************/
.page-footer {
  padding: 2rem 1rem;
  grid-area: footer;
  background-color: black;
  color: white;
  text-align: center;
  .footer-grid {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      width: 250px;
      height: 60px;
      margin-bottom: 0.5rem;
    }
    .links {
      grid-area: links;
      display: flex;
      justify-content: center;
      font-family: "Open Sans";
      list-style: none;
      a {
        color: white;
        text-decoration: none;
        padding: 0 1rem 0 1rem;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .social-media-buttons {
    display: flex;
    justify-content: center;

    img {
      width: 30px;
      height: 30px;
      margin: 1rem;
    }
  }
}

//dekstops
// @media(max-width: 1200px) {

// }

//laptops
// @media(max-width: 1025px) {

// }

//tablets
// @media(max-width: 769px) {

// }

// moviles
@media (max-width: $breakpoint-tablet) {
  footer {
    .footer-grid {
      .logo {
        .logo-text {
          h2 {
            font-size: 1.5rem;
          }
        }

        .logo-images {
          img {
            width: 3rem;
          }
        }
      }
      .links {
        a {
          font-size: 0.7rem;
        }
      }
    }
    .social-media-buttons {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .page-footer {
    .footer-grid {
      .links {
        a {
          font-size: 0.7rem;
        }
      }
    }
    .social-media-buttons {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
